.showcase-container {
  position: relative;
  height: 700px;
  background-image: linear-gradient(90deg, rgba(6,26,56,1) 0%, rgba(30,44,70,1) 35%, rgba(44,56,81,0.6222864145658263) 66%, rgba(60,69,94,0.5438550420168067) 100%), url('../../../images/showcase-bg.jpg');
  background-size: cover;
}


@media (max-width: 576px) {
  .showcase-container {
    margin-top:1050px;
  }
}